---
BasedOnStyle: Google
Language: Cpp

SortIncludes: true

# 120 column limit, 4 space indenting.
ColumnLimit: 120
IndentWidth: 4
TabWidth: 4
UseTab: Never

PPIndentWidth: 3
AlignConsecutiveMacros: AcrossEmptyLines
IndentPPDirectives: AfterHash

# No indenting for access modifiers or case labels.
AccessModifierOffset: -4
IndentAccessModifiers: false
IndentCaseLabels: false

# Break before braces except for empty functions, records or namespaces
BreakBeforeBraces: Custom
BraceWrapping:
    AfterCaseLabel:        true
    AfterClass:            true
    AfterControlStatement: Always
    AfterEnum:             true
    AfterFunction:         true
    AfterNamespace:        true
    AfterObjCDeclaration:  true
    AfterStruct:           true
    AfterUnion:            true
    AfterExternBlock:      true
    BeforeCatch:           true
    BeforeElse:            true
    BeforeLambdaBody:      true
    BeforeWhile:           true
    IndentBraces:          false
    SplitEmptyFunction:    false
    SplitEmptyRecord:      false
    SplitEmptyNamespace:   false

AlignAfterOpenBracket: BlockIndent
AlignEscapedNewlines: Right
AlignTrailingComments: true

SpaceBeforeParens: ControlStatements
SpaceBeforeCaseColon: false
SpaceAfterTemplateKeyword: false
SpacesBeforeTrailingComments: 2

# Avoid breaking after return type
PenaltyReturnTypeOnItsOwnLine: 50
BreakAfterReturnType: Automatic

BreakTemplateDeclarations: Yes
AlwaysBreakBeforeMultilineStrings: No
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true

AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: true
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLambdasOnASingleLine: true
AllowShortLoopsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: true
AllowShortCompoundRequirementOnASingleLine: true

BinPackParameters: false
BinPackArguments: false

# Align pointers and references to the right
PointerAlignment: Right

# Use east-const style.
QualifierAlignment: Right

Cpp11BracedListStyle: true
...
