---
Checks: >
    -*,
    google-*,
    llvm-*,
    zircon-*,
    cppcoreguidelines-*,
    bugprone-*,
    modernize-*,
    readability-*,
    clang-analyzer-*
    misc-non-private-member-variables-in-classes,
    -readability-function-cognitive-complexity,
    -readability-identifier-length,
    -readability-magic-numbers,
    -cppcoreguidelines-avoid-magic-numbers,
    -google-build-using-namespace,
CheckOptions: [{ key: misc-non-private-member-variables-in-classes, value: IgnoreClassesWithAllMemberVariablesBeingPublic }]
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle: none
...
